
#url{
    width: 40%;
}

#copy-btn{
    margin-top: 1em;
    background-color: #00d1b2;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
}

#output-container {
    background-color: hsl(230, 10%, 12%);; 
    padding: 1rem;
    border-radius: 6px;
    margin-top: 2.5rem;
}

#result{
    text-align: center;
}

footer{
    position :fixed;
    bottom: 0px;
    width: 100%;
    padding: 5px;
    background-color:hsl(230, 11%, 11%); 
    text-align: center;

    border-radius: 3px;
    margin : 5px;
    
}


.menu {
  position: fixed;
  top: 0;
  left: -1025px; 
  width: 1020px;
  height: 98%;
  background-color:#13151A;
  border-radius: 5px;
  transition: left 0.4s ease;
  z-index: 1000;
  padding: 20px;
  margin-top:8px ;
  margin-left:5px;
  border: 2px solid #4258ff;
 
}

.menu.open {
  left: 0;
}



#menuButton.open{
position: fixed;
  top: 103px;
  left: 25.5px;
  z-index: 2000;
  padding: 5px 10px;
  cursor: pointer;
  
}

